<footer id="contacts">
    <div class="container">
        <div class="footer__inner">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class="footer__title">обсудить проект и получить предварительный расчет</h2>
                </div>
                <div class="col-lg-6">
                    <div class="form">
                        <form>
                            <div class="form__inner">
                                <div class="form__fields">
                                    <input class="input" type="text" placeholder="Как к вам обращаться?*">
                                    <input class="input" type="tel" placeholder="Телефон*">
                                    <input class="input" type="email" placeholder="Адрес эл.почты*">
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <p class="text-service">Я согласен на обработку персональных данных</p>
                                </label>
                                <button class="content-btn__max-footer"></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer__bottom">
                <a href="#" class="logo">
                    <img src="assets/img/logo-white.svg" alt="">
                </a>
                <div class="footer__menu text-menu">
                    <a href="">Портфолио</a>
                    <a href="">Готовые проекты</a>
                    <a href="">Услуги</a>
                    <a href="">Блог</a>
                    <a href="">Контакты</a>
                    <a href="">FAQ</a>
                </div>
                <div class="service text-service">
                    <p>ООО «Строительство домов»</p>
                    <p>ИНН 6686112980</p>
                    <p>КПП 668601001</p>
                    <p>ОГРН 1196658010042</p>
                    <p>БИК 044525999</p>
                    <p>Кор.сч 30101810845250000999</p>
                    <a class="politics" href="">Политика конфиденциальности</a>
                </div>
                <div class="menu__social">
                    <a href="#"><img src="assets/img/social/instagram-white.svg" alt=""></a>
                    <a href="#"><img src="assets/img/social/telegram-white.svg" alt=""></a>
                    <a href="#"><img src="assets/img/social/vk-white.svg" alt=""></a>
                    <a href="#"><img src="assets/img/social/youtube-white.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</footer>
