body {
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

section {
  margin-bottom: clamp(calc(var(--sp-2) * 3), 10vw, calc(var(--sp-2) * 7.8));
}

main {
  margin-bottom: calc(var(--sp-2) * 3);
}

/* Typography */

h1 {
  font-size: clamp(var(--fs-h2), 5vw, var(--fs-h1));
  letter-spacing: -0.05em;
  margin: 0;
}

h2 {
  font-size: clamp(var(--fs-h2-mob), 5vw, var(--fs-h2));
}

h3 {
  font-size: var(--fs-h3);
}

h1,
h2,
h3 {
  font-weight: var(--fw-semi-bold);
  color: var(--c-black);
  text-transform: uppercase;
  margin: 0;
}

p {
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--c-black);
  line-height: var(--lh-1);
  transition: var(--transition-1);
}

.text-menu {
  font-size: var(--fs-text);
  font-weight: var(--fw-semi-bold);
  line-height: var(--lh-1);
  transition: var(--transition-1);
}

.text-service {
  font-size: var(--fs-text-sm);
  transition: var(--transition-1);
}

.subtitle {
  display: block;
  color: var(--c-gray-dark);
  margin-bottom: var(--sp-3);

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

.more-btn {
  &::after {
    content: url('../img/arrow.svg');
    margin-left: var(--sp-5);
  }
}

.primary {
  color: var(--c-main);
}




/* Logo */

a.logo {
  margin-right: calc(40px + (100 - 60) * (100vw - 320px) / (1920 - 320));

  @media (max-width: 1200px) {
    margin: 0;
  }

  @media (max-width: 576px) {
    width: 132px;
  }
}




/* Btns */

.btn--ural {
  --btn-p-y: 14.5px;
  --btn-p-x: 61px;
  --btn-p-x-huge: 208.5px;
  --btn-border: 1px solid;
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  line-height: var(--lh-1);
  text-align: center;
  transition: var(--transition-1);
  border-radius: var(--br-1);
  white-space: nowrap;
  -webkit-border-radius: var(--br-1);
  -moz-border-radius: var(--br-1);
  -ms-border-radius: var(--br-1);
  -o-border-radius: var(--br-1);
  padding: var(--btn-p-y) var(--btn-p-x);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
}

.btn--ural.huge {
  padding: var(--btn-p-y) var(--btn-p-x-huge);

  @media (max-width: 992px) {
    width: 100%;
    padding: var(--btn-p-y) 10px;
  }
}

.btn-primary--ural {
  color: var(--c-white);
  background-color: var(--c-main);
  border: var(--btn-border) var(--c-main);
}

.btn-primary--ural:hover {
  color: var(--c-black);
  background-color: var(--c-white);
  border: var(--btn-border) var(--c-main);
}

.btn-secondary--ural {
  color: var(--c-black);
  background-color: var(--c-white);
  border: var(--btn-border) var(--c-main)
}

.btn-secondary--ural:hover {
  color: var(--c-white);
  background-color: var(--c-main);
  border: var(--btn-border) var(--c-white)
}




/* Main */

main {
  position: relative;
}

/* Hero */

.s_hero {
  margin-top: clamp(var(--sp-1), 5vw, calc(var(--sp-1) * 2));
}

.hero__info {
  display: flex;
  justify-content: flex-end;
  gap: var(--sp-2);

  margin-top: clamp(var(--sp-3), 5vw, calc(var(--sp-3) * 2));
  padding-bottom: clamp(var(--sp-3), 5vw, calc(var(--sp-2) * 1.4));

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.hero__info .content-btn {
  @media (max-width: 992px) {
    display: none;
  }
}

.hero__desc {
  max-width: 59ch;
}

.hero__img {
  width: 100%;
  min-height: 280px;
  height: auto;
  max-height: 600px;
  position: absolute;
  left: 0;

}

.hero__img img {
  width: 100%;
  min-height: 280px;
  max-height: 600px;
  object-fit: cover;
}

.hero__inner .content-btn__max {
  position: relative;

  @media (min-width: 993px) {
    display: none;
  }
}




/* About */

.about__inner .subtitle+.row {
  margin-bottom: clamp(calc(var(--sp-4) * 2), 5vw, var(--sp-1));
  row-gap: var(--sp-3);
}

.about__text .row,
.about__cards .row {
  row-gap: calc(var(--sp-4) * 2);
}

.about__card {
  height: 100%;
  position: relative;
  border: var(--border-1);
  padding: calc(var(--sp-4) * 2) var(--sp-3);

  &::before {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    display: block;
    top: -1px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--c-white);
  }

  &::after {
    content: "";
    width: 80%;
    height: 2px;
    position: absolute;
    display: block;
    bottom: -1px;
    left: 50%;
    translate: -50% 0;
    background-color: var(--c-white);
  }

  @media (max-width: 992px) {
    width: 80%;
  }
}

.about__card p {
  width: 100%;
  margin-top: var(--sp-4);
}




/* Portfolio */

.portfolio__title {
  margin: 0;
  margin-bottom: clamp(calc(var(--sp-ui-4) * 2), 5vw, var(--sp-ui-2));
}

.portfolio__inner .row {
  row-gap: var(--sp-1);
  margin-bottom: clamp(calc(var(--sp-4) * 3), 5vw, var(--sp-1));
}

.portfolio__img {
  width: 100%;
  margin-bottom: clamp(var(--sp-4), 5vw, var(--sp-3));
}

.portfolio__img img {
  width: 100%;
}

.portfolio__item p {
  margin-bottom: var(--sp-5);
}




/* Price */

.price__title {
  margin-bottom: clamp(calc(var(--sp-ui-4)* 2), 5vw, var(--sp-ui-2));
}

.price__cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: auto;

  @media (max-width: 992px) {
    flex-direction: row;
    gap: var(--sp-2);
  }
}

.price__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: var(--border-1);
  padding: var(--sp-2) 0;

  &:last-child {
    border-bottom: var(--border-1);
  }

  @media (max-width: 992px) {
    width: max-content;
    min-width: 220px;
    height: max-content;
    display: flex;
    flex-direction: column;
    border: var(--border-1);
    padding: calc(var(--sp-4) * 2);
  }
}

.price__card-img {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (max-width: 992px) {
    margin-bottom: var(--sp-3);
  }
}

.price__card-img img {
  width: 188px;
}

.price__card-title {
  @media (max-width: 992px) {
    margin-bottom: var(--sp-2);
  }
}

.price__card-title h3.primary {
  margin-top: var(--sp-4);

  @media (max-width: 992px) {
    margin-top: var(--sp-5);
  }
}

.price__card-desc {
  @media (max-width: 992px) {
    margin-bottom: calc(var(--sp-3) * 2);
  }
}

.price__card-desc ul {
  margin: 0;
  padding-left: var(--sp-2);
}




/* Consult */

.consult__title {
  margin-bottom: var(--sp-4);
}

.consult__img {
  width: 100%;
}

.consult__img img {
  width: 100%;
}

.form__fields {
  display: flex;
  flex-direction: column;
  gap: var(--sp-2);
  margin-bottom: calc(var(--sp-4) * 2);
}

.form__fields .input {
  font-size: var(--fs-text-sm);
  color: var(--c-gray-dark);
  outline: none;
  border: none;
  border-bottom: var(--border-1);
  padding-bottom: var(--sp-5);

  &::placeholder {
    color: var(--c-gray-dark);
  }
}



.form__inner .checkbox {
  display: inline-flex;
  align-items: center;
  gap: var(--sp-4);
  cursor: pointer;
  user-select: none;
  margin-bottom: clamp(calc(var(--sp-3) * 2), 10vw, calc(var(--sp-2) * 1.75));
}

.form__inner .checkbox input {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: var(--c-white);
  border: 2px solid var(--c-gray-dark);
  border-radius: 1px;
  -webkit-border-radius: 1;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  appearance: none;
  -webkit-border-radius: 1px;
}

.form__inner .checkbox input:checked {
  background-color: var(--c-gray-dark);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/%3E%3C/svg%3E");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}




/* Steps */

.steps__title {
  margin-bottom: clamp(calc(var(--sp-ui-4)* 2), 5vw, var(--sp-ui-2));
}

.steps__cards {
  display: flex;
  flex-direction: column;

  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
}

.steps__card {
  width: 100%;
  height: 98px;
  display: grid;
  grid-template-columns: 590px 1fr 1fr;
  gap: var(--sp-2);
  border-top: var(--border-1);
  cursor: pointer;
  overflow: hidden;
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  padding-top: calc(var(--sp-2) * 1.04);

  &:last-child {
    border-bottom: var(--border-1);
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr;
    gap: calc(var(--sp-4) * 2);
  }
}

.steps__card:not(.active) {
  &:first-child {
    order: 0;
  }

  &:nth-child(2) {
    order: 1;
  }
}

.steps__card.active {
  height: 500px;
  order: 2;
  cursor: auto;
  transition: var(--transition-1);
  -webkit-transition: var(--transition-1);
  -moz-transition: var(--transition-1);
  -ms-transition: var(--transition-1);
  -o-transition: var(--transition-1);
  padding-bottom: calc(var(--sp-2) * 1.04);
}

.steps__img {
  width: 100%;

  @media (max-width: 992px) {
    order: 2;
  }
}

.steps__img img {
  width: 100%;
}

.steps__card-title {
  @media (max-width: 992px) {
    order: 1;
  }
}

.steps__desc {
  height: max-content;

  @media (max-width: 992px) {
    order: 3;
  }
}




/* Benefits */

.benefits__title {
  margin-bottom: clamp(calc(var(--sp-ui-4)* 2), 5vw, var(--sp-ui-2));
}

.benefits__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
  }
}

.benefits__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--sp-2);

  &::before {
    content: "";
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% 0;
    border-top: var(--border-1);
  }

  &::after {
    content: "";
    height: 90%;
    position: absolute;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    border-left: var(--border-1);
  }

  @media (max-width: 992px) {
    &:not(:has(.benefits__item-title)) {
      display: none;
    }

    border-top: var(--border-1);

    &:last-child {
      border-bottom: var(--border-1);
    }

    &::before,
    &::after {
      content: none;
    }

    padding: var(--sp-2) 0;
  }
}

.benefits__item:nth-last-child(-n+4) {
  &::before {
    content: "";
    width: 90%;
    position: absolute;
    inset: 0;
    left: 50%;
    translate: -50% 0;
    border-top: var(--border-1);
    border-bottom: var(--border-1);
  }

  @media (max-width: 992px) {
    &::before {
      content: none;
    }
  }
}

.benefits__item:nth-child(1),
.benefits__item:nth-child(5) {
  &::after {
    border-left: none;
    height: 0;
  }
}


.benefits__item-title {
  margin-bottom: var(--sp-3);
}

.benefits__item-desc {
  margin-bottom: var(--sp-1);
}

.benefits__item-img img {
  width: 100%;
}




/* Blog */

.blog__titles {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.blog__title {
  margin-bottom: var(--sp-ui-3);
}

.blog__titles .swiper__buttons {
  display: flex;
  align-items: center;
  gap: var(--sp-4);

  & .button-next {
    rotate: 180deg;
  }

  @media (max-width: 992px) {
    display: none;
  }
}

.blog-swiper swiper-slide {
  height: 500px;
}
